[submodule "pack/vim-sensible/start/vim-sensible"]
	path = pack/vim-sensible/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/python-mode/start/python-mode"]
	path = pack/python-mode/start/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "pack/NrrwRgn/start/NrrwRgn"]
	path = pack/NrrwRgn/start/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn.git
[submodule "pack/Nvim-R/start/Nvim-R"]
	path = pack/Nvim-R/start/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R.git
[submodule "pack/LaTeX-Box/start/LaTeX-Box"]
	path = pack/LaTeX-Box/start/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
